.level-container{
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
    margin:20px
}
.array-container{
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
    margin:15px
}

.header{
    display: flex;
    flex-direction:row;
    margin:15px;
    justify-content:space-around
}

.level-info{
    display: flex;
    flex-direction:row;
    justify-content:space-around
}

.boldFont{
    font-size:20px;
    font-weight:bold
}

.array-layout{
    display:flex; 
    flex-direction:row;
    justify-content:center;
    
    margin-bottom: 15px;
  
}
.array-nums
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid green
}

.info-icon{
    height: 1.75vh;
    margin-left: 5px;
}


